html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.container {
  padding: 20px;
  width: 600px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  transform: translate(-50%, -50%);
  background-color: rgba(139, 139, 139, 0.556);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  text-align: center;
}
.wallpaper {
  width: 100%;
  height: 100%;
  background-size: cover;
}
h1 {
  color: rgb(254, 241, 0);
  font-family: "Showcard Gothic";
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
h2 {
  font-size: 30px;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
  font-family: "Elephant";
}
h3 {
  color: rgb(0, 0, 0);
  font-family: "Kristen ITC";
  text-shadow: 2px 2px 4px rgb(62, 255, 3);
  font-size: 25px;
}
input {
  all: unset;
  padding: 20px;
  border-radius: 12px;
  border: 2px solid transparent;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.088);
  transition: border 0.3s ease-in-out;
  font-size: 20px;
}
input:focus {
  border-color: rgb(0, 0, 0);
}
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}
input::placeholder {
  color: black;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgb(255, 252, 252);
  cursor: pointer;
}
button {
  padding: 15px;
  border-radius: 12px;
  border: 2px solid transparent;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.088);
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.1s ease;
}
button:hover {
  background-color: #3e8e41;
}
button:active {
  background-color: #2e6b30;
  transform: translateY(2px);
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-family: "Forte";
}
